$primary-dark: #22252a;
$secondary-dark: #2a2c36;
$white: #ffffff;
$primary-light-white: #fefefe;
$secondary-light-white: #fdfdfd;
$primary-dark-white: #f5f5f5;
$secondary-dark-white: #f9f9f9;
$primary-grey: #dedede;
$secondary-grey: #d1d1d1;
$tertiary-grey: #b8b8b8;
$accent: #8baa36;
$light-green: #ebf3d4;
$yellow: #fdbc15;
$orange: #e6704b;
$red: #c7522d;
