@import '@styles/shared.scss';

.cars {
  padding: 40px 0;
  &__table {
    margin: 0 auto;
    width: 1440px;
    font-size: 14px;
    border-collapse: collapse;
    border-radius: 6px;
    background-color: $white;
  }

  &__table-head {
    border: 1px solid $primary-grey;
  }

  &__table-row {
    display: grid;
    grid-template-columns: repeat(8, 232px);
  }

  &__table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.03em;
    background-color: $primary-grey;

    &_relative {
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: background-color 250ms $timing-function;

      &:hover {
        background-color: $secondary-grey;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid $white;
    }
  }

  &__table-control {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__sort-control {
    display: flex;
    flex-direction: column;
  }

  &__arrow-button,
  &__search-button {
    @extend %button;
    transition: background-color 250ms $timing-function;

    &:hover {
      background-color: $tertiary-grey;
    }
  }

  &__arrow-button {
    border-radius: 50%;
  }

  &__search-button {
    padding: 8px 4px;
    border-radius: 6px;
  }

  &__table-body {
    border: 1px solid $primary-grey;
    .cars__table-row:nth-child(even) {
      background-color: $secondary-dark-white;
    }
  }

  &__table-data {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 12px;

    &_color {
      padding: 4px 8px;
      background-color: rgba(169, 169, 169, 0.1);
      border: 1px solid $primary-grey;
      border-radius: 6px;
    }

    &:last-child {
      position: relative;
      padding: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid $primary-grey;
    }
  }

  &__table-button {
    @extend %button;
    width: 232px;
    height: 58px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color 250ms $timing-function, background-color 250ms $timing-function,
      border-color 250ms $timing-function;

    &_active {
      color: $white;
      background-color: $accent;
      border-color: $primary-light-white;
    }

    &:hover {
      color: $white;
      background-color: $accent;
      border-color: $primary-light-white;
    }
  }
}
